@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,200&display=swap");

* {
  font-family: Monserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* For Prinny to edit */

:root {
  font-size: calc(0.625rem + 0.4vw); /* Don't edit this */
  --bg-dashboard: #fff; /* Background of Main Section */
  --bg-nav: #101a37; /* Side Menu Background */
  --nav-text-color: #fff; /* Side Menu Text */
  --nav-text-active: rgb(
    235,
    64,
    220
  ); /* Text changes to this color when mouse hovers over */
  --bg-user-dropdown: #fff; /* Colours the User Navigation Menu*/
  --bg-board-primary: rgb(240, 226, 226); /* Main board background */
  --bg-board-secondary: #fff;
  --category-1-personal-color: rgb(236, 0, 0);
  --category-2-personal-color: rgb(56, 231, 12);
  --category-1-professional-color: rgb(252, 232, 53);
  --category-2-professional-color: rgb(8, 219, 247);
  --strikethrough-color: gray;
}

/* End of Prinny Edit */

html,
body {
  margin: 0;
}

/* Body */

body {
  min-height: 100vh;
  display: grid;
  background: var(--bg-dashboard);
  grid-template-columns: 22% auto;
  grid-template-rows: auto;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navigation */
.sidenav {
  background: var(--bg-nav);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.link {
  padding: 1rem 0;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.sublinks {
  display: flex;
  flex-direction: column;
}

.sublink {
  height: auto;
  padding: 1rem 0;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  font-size: 14px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.active,
.link:hover {
  color: var(--nav-text-active);
  border-bottom: 1px solid var(--nav-text-active);
  cursor: pointer;
}

.link > span,
.sublink > span {
  display: flex;
  align-items: center;
}

.link > a {
  text-decoration: none;
  color: var(--nav-text-color);
}

.category-color {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
}

#cat1-personal {
  background-color: var(--category-1-personal-color);
}
#cat2-personal {
  background-color: var(--category-2-personal-color);
}
#cat1-professional {
  background-color: var(--category-1-professional-color);
}
#cat2-professional {
  background-color: var(--category-2-professional-color);
}

.navmenu-add-button:hover {
  cursor: pointer;
}

/* Main Content */

/* Double Board View */

.dashboard {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 8% auto;
  gap: 1rem 2rem;
}

/* User Profile + Dropdown Menu */

.user-container {
  grid-area: 1/2;
}

.user-container > div {
  display: flex;
  justify-content: end;
  gap: 1rem;
  font-weight: 700;
  align-items: center;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid grey;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 1rem;
  margin-top: 9rem;
  background-color: var(--bg-user-dropdown);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 1rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Boards */
.board-half {
  background-color: var(--bg-board-primary);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

#board-2 {
  grid-area: 2 / 2;
}

#board-1 {
  grid-area: 2 / 1;
}

.board-title {
  background: var(--bg-board-secondary);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.board-content {
  background: var(--bg-board-secondary);
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  margin-top: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.drag-icon {
  justify-self: end;
  cursor: grab;
}

.completed {
  text-decoration: line-through;
  color: var(--strikethrough-color);
}

.priority-icon:hover {
  cursor: pointer;
}

.add-icon > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-icon > div > input {
  border: none;
  height: 100%;
}

.add-icon > div > input:focus {
  outline: none;
}

.icons-list {
  display: flex;
  gap: 5px;
}

.category-span {
  font-size: 12px;
  align-self: center;
  background-color: var(--category-1-professional-color);
  border-radius: 50%;
  overflow: hidden;
  color: var(--category-1-professional-color);
  width: 1rem;
  height: 1rem;
}

.category-span:hover {
  width: auto;
  height: auto;
  overflow: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  color: black;
  margin-left: 3rem;
}

/* Single Board View */

.dashboard-single {
  background-color: aliceblue;
}

.hidden {
  display: none;
}
